build/packerlog.txt
build/common/rhel-registration.sh
configs/networks/
configs/vdc.nodes.etc.hosts
configs/machines/*
configs/machines/*/secrets
build/packer/cache
build/packer/.packer.d
build/*/*.secrets.pkrvars.hcl
build/*/output-custom_image/
*.qcow2
qa.succeed_tests.all
